@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", "Open Sans";
  background: linear-gradient(
    to right,
    rgba(215, 199, 244, 0.4),
    rgba(151, 133, 186, 0.5)
  );
}
